h1,h2,p,h3,body{
    margin: 0px;
}
.header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkslateblue;
    color: #ae9ee6;
    text-align: center;
    font-family: sans-serif;
}
.nav{
    background-color: #a0e6eb;
}
.home{
    display: inline-block;
    text-align: center;
    width: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}
.log:hover{
    background-color: crimson;
    color: white;
}
.log{
    margin-left: 50%;
    
}
.balance{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
}
.office{
    width: 30%;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    margin-top: 55px;
    padding-top: 42px;
    padding-bottom: 40px;
    background-color: #E6B9A9;
    line-height: 2;
}
.mark-div{
    width: 30%;
    text-align: center;
    padding-top: 10px;
    font-family: sans-serif;
    color: blue;
}
.aside{
    margin-left: 30%;
    margin-top: -374px;
    width: 70%;
}
.amount{
    font-size: 18px;
    font-family: monospace;
    padding-top: 36px;
    padding-bottom: 30px;
}
.amt-box{
    height: 30px;
    font-size: 18px;
}
.detail-exp{
    border: 1px solid;
    margin-top: 2px;
}
.exp{
    display: inline-block;
    border-left: 1px solid;
    width: 24.3%;
    font-size: 18px;
    font-family: sans-serif;
    padding-bottom: 5px;
    padding-top: 5px;
}
.footer{
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    background-color: #757575;
    color: white;
    line-height: 2;
    margin-top: 316px;
}
.cpy-footer{
    font-size: 14px;
}
td{
    border: 1px solid;
    width: 20%;
}
th{
    border: 1px solid;
    width: 20%;
    font-size: 21px;
}
a{
    text-decoration: none;
    color: black;
}